server:
  port: 2333
  address: 0.0.0.0
  http2:
    enabled: false

lavalink:
  plugins:
    # 1. Plugin LavaSrc (Spotify, Deezer, etc.)
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.2.0"
      repository: "https://maven.lavalink.dev/releases"
    
    # 2. Plugin YouTube Source (OBLIGATOIRE pour LavaSearch YouTube)
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.11.1"
      repository: "https://maven.lavalink.dev/releases"

  server:
    password: "youshallnotpass"
    sources:
      # Avec le plugin YouTube installé, on peut laisser ceci à true, le plugin prendra le relais
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    opusEncodingQuality: 10
    resamplingQuality: LOW
    trackStuckThresholdMs: 10000
    
    # Configuration spécifique pour le nouveau plugin YouTube
    youtube:
      enabled: true
      allowSearch: true # Autorise la recherche
      allowDirectVideoIds: true
      allowDirectPlaylistIds: true
      # Les clients à utiliser pour éviter les blocages (Rotation)
      clients:
        - MUSIC
        - ANDROID_VR
        - WEB
        - WEB_EMBEDDED

# CONFIGURATION DU PLUGIN LAVASRC
plugins:
  lavasrc:
    providers:
      # MIRRORING SPOTIFY -> YOUTUBE
      - "ytsearch:\"%ISRC%\""
      - "ytsearch:%QUERY%"
    
    sources:
      spotify: true    
      youtube: true    # LavaSearch (Fonctionnera maintenant car le plugin youtube-plugin est là)
      applemusic: false
      deezer: false
      yandexmusic: false
      flowerytts: false
    
    spotify:
      clientId: "256a806b24c6454ab84ba17eefe42c77"
      clientSecret: "f78a9b16e5d64a3f814451e898a4201a"
      countryCode: "FR"
      playlistLoadLimit: 6
      albumLoadLimit: 6
      resolveArtistsInSearch: true
