server:
  port: 2333
  address: 0.0.0.0
  http2:
    enabled: false

lavalink:
  plugins:
    # 1. Plugin LavaSrc (Spotify, Deezer, etc.) - On garde la 4.2.0 qui marche bien
    - dependency: "com.github.topi314.lavasrc:lavasrc-plugin:4.2.0"
      repository: "https://maven.lavalink.dev/releases"
    
    # 2. Plugin YouTube Source - MISE À JOUR CRITIQUE (1.11.1 -> 1.16.0)
    # C'est ça qui répare le son !
    - dependency: "dev.lavalink.youtube:youtube-plugin:1.16.0"
      repository: "https://maven.lavalink.dev/releases"

  server:
    password: "youshallnotpass"
    sources:
      # On DÉSACTIVE la source YouTube native (obsolète) pour forcer l'usage du plugin ci-dessous
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000
    opusEncodingQuality: 10
    resamplingQuality: LOW
    trackStuckThresholdMs: 10000

# CONFIGURATION DU PLUGIN YOUTUBE (Nouvelle version)
youtube:
  enabled: true
  allowSearch: true
  allowDirectVideoIds: true
  allowDirectPlaylistIds: true
  clients:
    - MUSIC
    - ANDROID_VR
    - WEB
    - WEB_EMBEDDED

# CONFIGURATION DU PLUGIN LAVASRC
plugins:
  lavasrc:
    providers:
      # MIRRORING SPOTIFY -> YOUTUBE
      - "ytsearch:\"%ISRC%\""
      - "ytsearch:%QUERY%"
    
    sources:
      spotify: true    
      youtube: true    # LavaSearch
      applemusic: false
      deezer: false
      yandexmusic: false
      flowerytts: false
    
    spotify:
      clientId: "256a806b24c6454ab84ba17eefe42c77"
      clientSecret: "f78a9b16e5d64a3f814451e898a4201a"
      countryCode: "FR"
      playlistLoadLimit: 6
      albumLoadLimit: 6
      resolveArtistsInSearch: true
